div.fin-exam {
  background: #ffff;
  height: 100%;
  min-height: calc(100vh - 12rem);
}

div.fin-exam .title img {
  display: inline-block;
  width: 93px;
  height: 100px;
  margin: 0 0 0 52px;
  vertical-align: top;
}

div.fin-exam .wrap {
  position: relative;
  margin: 0 auto;
}

div.fin-exam .title h1 {
  line-height: 56px;
  display: inline-block;
  vertical-align: top;
}

div.fin-exam .fin-exam-results,
div.fin-exam .title h1.fin-exam-results {
  display: none;
}

.wrap {
  display: none;
}

div.fin-exam .title h2 {
  font-size: 27px;
  line-height: 27px;
  margin: 15px 0 0 10px;
  display: inline-block;
  vertical-align: top;
}

div.fin-exam .title2 {
  padding-left: 52px;
  padding-top: 20px;
}

div.fin-exam .title2 h1 {
  display: block;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 29px;
  font-weight: 800;
  margin: 0;
  padding: 0 50px 13px 0;
  text-align: left;
  color: #666;
}

div.fin-exam .title2 h2 {
  display: block;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0 50px 13px 0;
  text-align: left;
  color: #50748a;
}

div.fin-exam .d-exam {
  padding-left: 52px;
}

div.fin-exam table,
div.fin-exam tr,
div.fin-exam td {
  margin: 0;
  padding: 0;
  border: 0 none;
  font-size: 18px;
  font-weight: 400;
}

div.fin-exam table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px;
  width: 100%;
}

div.fin-exam td.chbox {
  padding: 3px 10px;
  text-align: center;
  width: 30px;
}

div.fin-exam tr.dotted td {
  border-bottom: 1px dotted #d8d8d8;
}

div.fin-exam td.tiny {
  display: none;
}

div.fin-exam .chboxred {
  background-color: #ffafac;
  display: none;
}

div.fin-exam td.text {
  padding: 18px 12px 18px 5px;
  line-height: 29px;
}

div.fin-exam .chboxgreen {
  background-color: #ffffff;
}

div.fin-exam tr.dotted td.chboxgreen {
  border-bottom-color: #a1d6bc;
}

div.fin-exam .chbox input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

div.fin-exam .chbox input[type="checkbox"] + label {
  position: relative;
  padding-left: 23px;
}

div.fin-exam .chbox input[type="checkbox"] + label:before {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: -3px;
  bottom: 0;
  margin: auto 0;
  border: 2px solid #003547;
  border-radius: 50%;
  cursor: pointer;
}

div.fin-exam .chbox input[type="checkbox"]:checked + label:before,
div.fin-exam .chbox input[type="checkbox"]:hover:checked + label:before,
div.fin-exam .chbox input[type="checkbox"]:focus:checked + label:before {
  background-color: transparent;
  background-position: center;
  background-image: url(../img/check.png);
  background-size: 17px;
  background-repeat: no-repeat;
}

div.fin-exam .ch-label-red:before {
  background-image: url(../img/incorrect.png) !important;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-size: 12px !important;
  background-position: center !important;
}

div.fin-exam .ch-label-green:before {
  background-image: url(../img/check.png) !important;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 17px !important;
  border: 2px solid green !important;
}

div.fin-exam td,
div.fin-exam .chbox input[type="checkbox"] + label {
  color: #424242;
  font-size: 16px;
  line-height: 29px;
}

div.fin-exam .butnext {
  position: relative;
  padding: 0px 0px 15px 0;
  text-align: center;
}

div.fin-exam .butnext button {
  display: inline-block;
  border-radius: 45px;
  padding: 7px 0;
  margin: 0 7px;
  width: 137px;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  border: 0 none;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  background: #003547;
  color: #fff;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
}

div.fin-exam .butnext button:hover {
  background: #737b8c;
}

div.fin-exam div.fin-exam-results {
  margin-left: 32px;
  margin-right: 32px;
}

div.fin-exam div.fin-exam-results h3 {
  padding-bottom: 10px;
}

div.fin-exam div.fin-exam-results h3,
div.fin-exam div.fin-exam-results h3 span {
  font-size: 22px;
  font-weight: bold;
}

div.fin-exam div.fin-exam-results td {
  vertical-align: top;
}

div.fin-exam div.fin-exam-results td.q,
div.fin-exam div.fin-exam-results td.a,
div.fin-exam div.fin-exam-results td.question strong {
  font-size: 22px;
  font-weight: bold;
}

div.fin-exam div.fin-exam-results td.question,
div.fin-exam div.fin-exam-results td.answer,
div.fin-exam div.fin-exam-results td.question strong {
  font-size: 21px;
}

div.fin-exam div.fin-exam-results td {
  padding-bottom: 4px;
  line-height: 25px;
}

div.fin-exam div.fin-exam-results td.rem {
  padding-bottom: 15px;
}

div.fin-exam div.fin-exam-results td.q,
div.fin-exam div.fin-exam-results td.a {
  padding-left: 24px;
}

div.fin-exam div.fin-exam-results td.bad {
  background-image: url(../img/exam-minus.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 0 7px;
}

div.fin-exam div.fin-exam-results td.good {
  background-image: url(../img/exam-v.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 0 7px;
}

.exam-intro p {
  padding: 1.2rem 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  div.fin-exam .wrap {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  div.fin-exam .wrap {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  div.fin-exam .wrap {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  div.fin-exam .wrap {
    width: 100%;
  }
}

.fin-exam-results tr:nth-child(4n + 1),
.fin-exam-results tr:nth-child(4n + 2) {
  background-color: #e4f5f9;
}

.remarks-container {
  position: relative;
  width: 100%;
  height: 140px;
}

div#correct,
div#incorrect {
  border: 0.2rem solid var(--color-feedback-icon-border, #000);
  border-radius: 50%;
  display: block;
  height: 3.5rem;
  line-height: 3.5rem;
  margin: 0 auto;
  opacity: 1;
  text-align: center;
  transform: scale(1.2);
  transition: opacity 0.6s 0.9s, transform 0.6s 0.9s;
  width: 3.5rem;
  position: relative;
  top: 90px;
}

div#correct {
  border-color: green !important;
}

div#incorrect {
  border-color: red !important;
}

div#correct i {
  font-size: 30px;
}

div#incorrect i {
  font-size: 50px;
  color: red;
}

.bi-x::before {
  font-weight: bold !important;
}

.correct-container,
.incorrect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.correct-container p,
.incorrect-container p {
  position: relative;
  top: 100px;
  font-weight: bold;
}

.correct-border {
  border: 3px solid #3c9e34 !important;
}

.incorrect-border {
  border: 3px solid red !important;
}

.percentage-container {
  position: relative;
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.semi-circle-progress {
  width: 475px;
  aspect-ratio: 2 / 1;
  border-radius: 50% / 100% 100% 0 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.semi-circle-progress::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(at 50% 100%, white 70%, transparent 0),
    conic-gradient(var(--color-theme) 0.1deg, rgb(255, 255, 255, 0.1) 0deg);
}

span.perc-2 {
  position: relative;
}
/* ems */

.progress-bar span {
  font-size: 6rem;
  position: relative;
  margin: 0 auto;
}

.bar {
  position: relative;
  width: 475px;
  height: 475px;
  border-radius: 50%;
  background: conic-gradient(
    var(--color-theme) 3.6deg,
    rgb(255, 255, 255, 0.1) 0deg
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

p.score-text {
  position: relative;
  margin: 0 auto;
  font-size: 13px;
  font-weight: bold;
}

.try-again-btn {
  border: none;
  background: transparent;
  position: relative;
  margin: 0 auto;
  align-items: center;
}

button.try-again-btn p {
  margin-bottom: 0px;
  font-weight: 900;
}

.try-again-btn i {
  font-size: 25px;
}

.proceed-btn-cert {
  position: relative;
  margin: 0 auto;
  background: var(--color-theme);
  border: 1px solid var(--color-theme);
  border-radius: var(--bs-border-radius);
  padding: 0.375rem;
  color: #fff;
  font-weight: 700;
}

.passing-score {
  position: relative;
  left: 450px;
  bottom: 660px;
}

.pass-text {
  margin-bottom: 0px;
  font-weight: 600;
}

.pass-perc {
  margin-bottom: 0px;
  left: -14px;
  position: relative;
}

img.failed {
  width: 120px;
  height: 120px;
  margin: 20px auto;
  display: none;
  z-index: 1;
}

img.success {
  width: 160px;
  height: 160px;
  margin: -10px auto;
  display: none;
  z-index: 1;
}

.success,
.failed {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

span.perc-1 {
  font-size: 1rem;
}
.passingscore {
  left: 620px;
  top: 52px;
}
img.line {
  width: auto;
  height: 242px;
  right: 503px;
  top: 203px;
  rotate: 1 1 1 350deg;
}
p.passing {
  right: 540px;
  top: 21%;
  word-break: keep-all;
}
button.btn-start {
  display: inline-block;
  border-radius: 45px;
  padding: 7px 0;
  margin: 0 7px;
  width: 137px;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  border: 0 none;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  background: #003547;
  color: #fff;
  -webkit-border-radius: 45px;
}

button.btn-start:hover {
  background: #737b8c;
}

.GaugeMeter {
  position: Relative;
  text-align: Center;
  overflow: Hidden;
  cursor: Default;
}

.GaugeMeterContainer {
  position: relative;
}

.YourScore {
  position: absolute;
  top: 169px;
  /* Adjust this value as needed to position it correctly */
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  /* Adjust font size as needed */
  color: #000;
}

.GaugeMeter span,
output,
u {
  font-size: 100px;
  color: #000;
}

.GaugeMeter SPAN,
.GaugeMeter B {
  margin: 0 23%;
  width: 54%;
  position: Absolute;
  text-align: Center;
  display: Inline-Block;
  color: RGBa(0, 0, 0, 0.8);
  font-weight: 100;
  font-family: "Open Sans", Arial;
  overflow: Hidden;
  white-space: NoWrap;
  text-overflow: Ellipsis;
  font-size: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.GaugeMeter[data-style="Semi"] B {
  margin: 0 10%;
  width: 80%;
}

.GaugeMeter S,
.GaugeMeter U {
  text-decoration: None;
  font-size: 0.5em;
}

.GaugeMeter B {
  color: Black;
  font-weight: 300;
  font-size: 0.5em;
  opacity: 0.8;
}

.checkmark {
  width: 150px;
  margin: 0 auto;
  padding-top: 20px;
  position: absolute;
  margin-top: 231px;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 2s ease-in-out;
  -webkit-animation: dash 2s ease-in-out;
}

.spin {
  animation: spin 2s;
  -webkit-animation: spin 2s;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}
.fail,
.pass {
  font-size: 44px;
  position: absolute;
  margin-top: 291px;
  color: red;
}
.pass {
  color: green;
}
.GaugeMeter span {
  color: rgb(255 11 11) !important;
}
.bgGray {
  background-color: #f5f5f5 !important;
}

.centerExam {
  align-content: center;
  min-height: 95vh;
}

.pointerNone {
  pointer-events: none;
}

.GaugeMeterContainer {
  transition: 0.2s;
}

div.fin-exam td,
div.fin-exam .chbox input[type="checkbox"] + label {
  color: #424242;
  font-size: 16px;
  line-height: 29px;
  text-align: left;
  width: 100%;
  padding: 10px 50px;
  cursor: pointer;
}

.chbox.chboxgreen:hover,
.chbox.chboxred:hover {
  background-color: #f7f7f8;
}

.failedContainer {
  max-width: 590px;
  padding: 18px 30px;
  border: 1px solid #000;
  border-radius: 3px;
}

.key {
  width: 19px;
  height: 21px;
}

.correct-container p,
.incorrect-container p {
  top: 37px;
}

div#correct,
div#incorrect {
  top: 24px;
}

.pointerNone {
  pointer-events: none;
}

.incorrectBorder::before {
  border-color: red !important;
}

.examWidth {
  max-width: 620px;
}

.b-xx-res:focus,
.b-xx-next:focus {
  box-shadow: none;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .GaugeMeterContainer {
    transform: scale(0.8);
  }

  .YourScore,
  #score {
    font-size: 25px !important;
  }

  .YourScore {
    width: 233px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  div.fin-exam .title2 {
    padding-left: 0;
  }

  div.fin-exam .d-exam {
    padding: 0;
  }

  div.fin-exam .title2 h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 550px) {
  .GaugeMeterContainer {
    transform: scale(0.6);
    margin-right: 50px;
  }

  .YourScore,
  #score {
    font-size: 28px !important;
  }

  #fail .bi::before,
  #pass .bi::before {
    font-size: 100px;
    position: absolute;
    left: 50%;
    translate: -50%;
  }

  #pass {
    margin-top: 288px !important;
  }

  .fail {
    margin-top: 334px !important;
  }

  div.fin-exam td,
  div.fin-exam .chbox input[type="checkbox"] + label {
    padding: 10px 40px;
  }
}

@media screen and (max-width: 410px) {
  .YourScore {
    font-size: 30px !important;
  }

  .GaugeMeterContainer {
    transform: scale(0.5);
  }

  #score {
    font-size: 30px !important;
  }

  #game .draggable-wrapper {
    transform: scale(0.7);
  }
}
