div.fin-exam {
  background: #ffff;
  height: 100%;
  min-height: calc(100vh - 11rem);
}

div.fin-exam .exam-container {
  display: flex;
}

div.fin-exam .wrap {
  position: relative;
  margin: 0 auto;
}

div.fin-exam .title h1 {
  line-height: 56px;
  display: inline-block;
  vertical-align: top;
}

div.fin-exam .exam-results,
div.fin-exam .title h1.exam-results {
  display: none;
}

.wrap {
  display: none;
}

div.fin-exam .title h2 {
  font-size: 27px;
  line-height: 27px;
  margin: 15px 0 0 10px;
  display: inline-block;
  vertical-align: top;
}

div.fin-exam .title {
  color: var(--bs-dark-gray);
  padding-top: 20px;
}

div.fin-exam .title .quiz-counter {
  display: block;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 29px;
  font-weight: 800;
  margin: 0;
  padding: 0 0 15px 0;
  text-align: left;
  color: var(--bs-dark-gray);
}

div.fin-exam .title h2 {
  display: block;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 20px 0;
  text-align: left;
  color: #50748a;
}

div.fin-exam .d-exam {
  padding-left: 0;
}

div.fin-exam table,
div.fin-exam tr,
div.fin-exam td {
  margin: 0;
  padding: 0;
  border: 0 none;
  font-size: 18px;
  font-weight: 400;
}

div.fin-exam table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px;
  width: 100%;
}

div.fin-exam td.chbox {
  padding: 3px 10px;
  text-align: center;
  width: 30px;
}

div.fin-exam td.chbox:hover {
  background-color: #f7f7f8;
}

div.fin-exam tr.dotted td {
  border-bottom: 1px dotted #d8d8d8;
}

div.fin-exam td.tiny {
  display: none;
}

div.fin-exam .chboxred {
  background-color: #ffafac;
  display: none;
}

div.fin-exam td.text {
  padding: 18px 12px 18px 5px;
  line-height: 29px;
}

div.fin-exam .chboxgreen {
  background-color: #ffffff;
}

div.fin-exam tr.dotted td.chboxgreen {
  border-bottom-color: #a1d6bc;
}

div.fin-exam .chbox input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

div.fin-exam .chbox input[type="checkbox"] + label {
  position: relative;
  padding-left: 23px;
}

div.fin-exam .chbox input[type="checkbox"] + label:before {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: -3px;
  bottom: 0;
  margin: auto 0;
  border: 2px solid #003547;
  border-radius: 50%;
  cursor: pointer;
}

div.fin-exam .chbox input[type="checkbox"]:checked + label:before,
div.fin-exam .chbox input[type="checkbox"]:hover:checked + label:before,
div.fin-exam .chbox input[type="checkbox"]:focus:checked + label:before {
  background-color: transparent;
  background-position: center;
  background-image: url(../img/check.png);
  background-size: 17px;
  background-repeat: no-repeat;
}

div.fin-exam .ch-label-red:before {
  background-image: url(../img/incorrect.png) !important;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-size: 12px !important;
  background-position: center !important;
  border: 2px solid red !important;
}

div.fin-exam .ch-label-green:before {
  background-image: url(../img/check.png) !important;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 17px !important;
  border: 2px solid green !important;
}

div.fin-exam td,
div.fin-exam .chbox input[type="checkbox"] + label {
  color: #424242;
  font-size: 16px;
  line-height: 29px;
}

div.fin-exam .button-quiz {
  position: relative;
  text-align: center;
  overflow: hidden;
}

div.fin-exam .button-quiz button {
  display: inline-block;
  border-radius: 45px;
  padding: 7px 0;
  margin: 0 7px;
  width: 137px;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  border: 0 none;
  text-align: center;
  cursor: pointer;
  background: #003547;
  color: #fff;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
}

div.fin-exam .button-quiz button:hover {
  background: #737b8c;
}

div.fin-exam .button-quiz button.btn-next {
  display: none;
  position: relative;
}

div.fin-exam div.exam-results {
  margin-left: 32px;
  margin-right: 32px;
}

div.fin-exam div.exam-results h3 {
  padding-bottom: 10px;
}

div.fin-exam div.exam-results h3,
div.fin-exam div.exam-results h3 span {
  font-size: 22px;
  font-weight: bold;
}

div.fin-exam div.exam-results td {
  vertical-align: top;
}

div.fin-exam div.exam-results td.q,
div.fin-exam div.exam-results td.a,
div.fin-exam div.exam-results td.question strong {
  font-size: 22px;
  font-weight: bold;
}

div.fin-exam div.exam-results td.question,
div.fin-exam div.exam-results td.answer,
div.fin-exam div.exam-results td.question strong {
  font-size: 21px;
}

div.fin-exam div.exam-results td {
  padding-bottom: 4px;
  line-height: 25px;
}

div.fin-exam div.exam-results td.rem {
  padding-bottom: 15px;
}

div.fin-exam div.exam-results td.q,
div.fin-exam div.exam-results td.a {
  padding-left: 24px;
}

div.fin-exam div.exam-results td.bad {
  background-image: url(../img/exam-minus.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 0 7px;
}

div.fin-exam div.exam-results td.good {
  background-image: url(../img/exam-v.png);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 0 7px;
}

div.fin-exam td,
div.fin-exam .chbox input[type="checkbox"] + label {
  color: #424242;
  font-size: 16px;
  line-height: 29px;
  text-align: left;
  width: 100%;
  padding: 10px 0 10px 40px;
  cursor: pointer;
}

.exam-intro p {
  padding: 1.2rem 0;
  margin: 0;
}

.remarks {
  position: relative;
  opacity: 0;
  pointer-events: none;
}

.remarks-container {
  position: inherit;
  width: 100%;
}

.remarks-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  border: 3px solid green;
  border-radius: 50%;
  height: 65px;
  width: 65px;
}

.remarks-icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
}

.remarks-icon i.bi:before {
  font-weight: 700 !important;
}

.correct,
.pass {
  color: #038308 !important;
}

.green-border {
  border: 3px solid #038308 !important;
}

.incorrect,
.failed {
  color: red !important;
}

.red-border {
  border: 3px solid red !important;
}

.exam-results tr:nth-child(4n + 1),
.exam-results tr:nth-child(4n + 2) {
  background-color: #e4f5f9;
}

.exam-results .line {
  position: absolute;
  transform: translate(-50%, -50%);
}

.exam-results img.line {
  width: auto;
  height: 242px;
  right: -117px;
  bottom: 0;
  rotate: 1 1 1 351deg;
}

.exam-results-passed,
.exam-results-failed {
  display: none;
}

.exam-results-text {
  width: 100%;
  max-width: 590px;
  padding: 18px 30px;
  border: 1px solid #000;
  border-radius: 3px;
  margin: 20px auto auto auto;
}

.passRate {
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  word-break: keep-all;
  top: 165px;
  left: 5px;
}

.passRate span {
  font-size: inherit;
  color: var(--bs-gray);
}

button.btn-reset {
  border: none;
  background: transparent;
  position: relative;
  margin: 0 auto;
  align-items: center;
}

button.btn-reset span {
  margin-bottom: 0px;
  font-weight: 900;
}

button.btn-reset i {
  font-size: 25px;
}

button.btn-quiz-start {
  display: inline-block;
  border-radius: 45px;
  padding: 7px 0;
  margin: 0 7px;
  width: 137px;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  border: 0 none;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  background: #003547;
  color: #fff;
  -webkit-border-radius: 45px;
}

button.btn-quiz-start:hover {
  background: #737b8c;
}

#gaugeMeter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#gaugeMeter span,
#gaugeMeter b,
#gaugeMeter i {
  position: absolute;
  display: flex;
  color: #000;
  font-weight: 100;
  font-family: "Open Sans", Arial;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}

#gaugeMeter span * {
  font-size: 100px;
}

#gaugeMeter span u {
  text-decoration: none;
}

#gaugeMeter b {
  font-weight: 700;
  line-height: 1rem !important;
  margin-top: -140px;
}

#gaugeMeter i {
  font-size: 150px;
  padding-top: 40px;
}

svg.key {
  width: 19px;
  height: 21px;
}


@media screen and (min-width: 576px) {
  .exam-results-container {
    transform: scale(0.6);
  }
}

@media screen and (min-width: 768px) {
  .exam-results-container {
    transform: scale(0.8);
  }
}

@media screen and (min-width: 992px) {
  .exam-results-container {
    transform: scale(1);
  }
}

@media screen and (max-width: 575px) {
  .exam-results-container {
    transform: scale(0.5);
  }
}

@media screen and (max-width: 410px) {
  .YourScore {
    font-size: 30px !important;
  }

  .GaugeMeterContainer {
    transform: scale(0.5);
  }

  #score {
    font-size: 30px !important;
  }

  #game .draggable-wrapper {
    transform: scale(0.7);
  }
}
